<div class="container">

  <div class="row position-relative" id="hero-section">

    <span id="hero-close-button" onclick="$('#hero-section').hide()" class="position-absolute">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><svg xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
              fill="var(--body-background)">
              <rect x="0" y="7" width="16" height="2" rx="1" />
              <rect opacity="0.3"
                transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0"
                y="7" width="16" height="2" rx="1" />
            </g>
          </g>
        </svg></span>
    </span>

    <div class="col-md-6 left-child h-100 d-flex justify-content-center align-items-center">
      <div class="text-center text-sm-left">
        <h1>We sell custom, <br> everything</h1>
        <div class="parent-container text-center text-sm-left">
          <div class="arc mx-auto mx-sm-0"></div>
        </div>
        <br>
        <button class="btn btn-primary border-0 rounded-lg px-4 btn-action"
          onclick="window.location='/explore'">Explore</button>
      </div>
    </div>
    <div class="col-md-6 right-child text-center d-none d-md-block p-4 h-100">

      <div class="d-flex align-items-center justify-content-center h-100">
        <div id="hero-slider-control" class="carousel slide w-100" data-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <img src="/static/main/img/illustrations/phone-cases.png" class="h-100">
            </div>
            <div class="carousel-item">
              <img src="/static/main/img/illustrations/mug.png" class="h-100">
            </div>

            <div class="carousel-item">
              <img src="/static/main/img/illustrations/backpack.png" class="h-100">
            </div>

            <div class="carousel-item">
              <img src="/static/main/img/illustrations/mug.png" class="h-100">
            </div>

          </div>

          <a class="carousel-control-prev" href="#hero-slider-control" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#hero-slider-control" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>





    </div>

  </div>

</div>