{% extends 'base.html' %}
{% load static %}
{% block title %}Shopping Cart - multiverzum.com{% endblock %}

{% block content %}

{% block categories %}
{% include 'categories.html' %}
{% endblock %}

<style>
  .no-items-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }

  .img-sm {
    width: 80px;
    height: 80px
  }

  .itemside .info {
    padding-left: 15px;
    padding-right: 7px
  }

  .table-shopping-cart .price-wrap {
    line-height: 1.2
  }

  .table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
  }

  .itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
  }

  .dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }

  [class*="dlist-"] {
    margin-bottom: 5px
  }


  .price,
  .shipping {
    font-weight: 600;
    color: var(--text-color)
  }

  .btn-apply {
    font-size: 11px
  }

  .aside img {
    cursor: pointer;
  }

  .table-shopping-cart tr:hover{
    background-color: var(--color-light-hover);
  }
</style>

<div class="container-fluid my-1" style="max-width: 1500px !important; min-height: 50vh;">

  <div class="row">
    <aside class="col-lg-9 pl-0 pr-1">
      <div class="card py-4 bg-app">
        <div class="table-responsive h-100">

          {% if cart_items_count == 0 %}

          <div class="d-flex py-5 h-100 w-100 justify-content-center align-items-center">
            <div class="text-center">
              <img src="/static/main/img/illustrations/no-search-results.png" width="280px" alt="">
              <br><br>
              <h2 class="bold mb-0">Your cart is empty :(</h2>
              <p class="text-muted text-sm text-center m-auto">Empty cart, full potential. Start shopping now!</p>
              <br>
              <a class="btn btn-primary border-0 text-white rounded-lg p-2 px-3" href="/">Shop Now</a>
            </div>


          </div>

          </tr>

          {% else %}
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col" class="text-center">Item</th>
                <th scope="col" width="120" class="text-center">Quantity</th>
                <th scope="col" width="100" class="text-center">Price</th>
                <th scope="col" width="60" class="text-center">Shipping</th>
                <th scope="col" class="text-right d-none d-md-block" width="100"></th>
              </tr>
            </thead>
            <tbody class="card-container">

              {% for item in cartItems%}

              <tr>
                <td>
                  <figure class="itemside align-items-center">
                    <div class="aside" onclick="window.location = '/item/{{item.item_id}}'"><img
                        src='/media/{{ item.item.itemimage_set.first.image }}' class="img-sm"></div>
                    <figcaption class="info"> <a class="title" data-abc="true"></a>
                      <p class="text-muted small">
                        Title: {{ item.item.title }}
                        <br>
                        Category: {{ item.item.category }}
                        <br>
                        By {{ item.item.seller.username }}
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td>

                  {% if item.item.multiple_quantities %}
                  <input type='number' value='{{ item.quantity }}' min=1 class="form-control border-0"
                    id='selection-{{ item.id }}'>
                  {% else %}
                  <input type='number' value='{{ item.quantity }}' min=1 class="form-control border-0"
                    id='selection-{{ item.id }}' readonly>
                  {% endif %}
                </td>
                <td>
                  <div class="price-wrap text-center" style='width: 200px'> <var class="price"
                      id='price-${number_of_items}'>${{item.item.price}}</var> <small class="text-muted"> {{item.price}}
                      per item
                    </small></div>
                </td>
                <td>
                  <div class="price-wrap text-center" style='width: 200px'> <var class="shipping"
                      id='price-${number_of_items}'>${{item.item.shipping_cost}}</var></div>
                </td>
                <td class="text-right d-md-block" style="cursor: pointer;">
                  <a onclick="removeItemFromCart('{{item.id}}')" class="btn btn-basic pointer" data-abc="true"><i
                      class="fa fa-trash" style="color: var(--text-color)"></i></a>
                </td>


                <script>
                  $(document).ready(function () {
                    const csrftoken = getCookie('csrftoken');
                    $('#selection-{{ item.id }}').change(function () {
                      cartItemId = Number('{{ item.id }}');
                      $.ajax({
                        type: "POST",
                        headers: {
                          'X-CSRFToken': csrftoken
                        },
                        url: "{% url 'updateCartItemQuantity' %}",
                        data: {
                          'cartItemId': cartItemId,
                          'quantity': $(this).val()
                        },
                        success: function () {
                          location.reload();
                        }
                      })
                    });
                  });
                </script>

              </tr>

              <script>
                $(document).ready(function () {
                  const csrftoken = getCookie('csrftoken');
                  $('#selection-{{ item.id }}').change(function () {

                    cartItemId = Number('{{ item.id }}');

                    $.ajax({
                      type: "POST",
                      headers: {
                        'X-CSRFToken': csrftoken
                      },
                      url: "{% url 'updateCartItemQuantity' %}",
                      data: {
                        'cartItemId': cartItemId,
                        'quantity': $(this).val()
                      },
                      success: function () {
                        location.reload();
                      }
                    })
                  });
                });
              </script>

              {% endfor %}

            </tbody>
          </table>
          {% endif %}



        </div>
      </div>

    </aside>
    <aside class="col-lg-3 pl-1 pr-0">
      <div class="card bg-app">
        <div class="card-body">
          <dl class="dlist-align">
            <dt class="text-muted">Price:</dt>
            <dd class="text-right ml-3">${{ total_price|floatformat:2 }}</dd>
          </dl>
          <dl class="dlist-align">
            <dt class="text-muted">Shipping:</dt>
            <dd class="text-right ml-3" style="font-style: italic">${{ shipping_cost|floatformat:2 }}</dd>
          </dl>
          <dl class="dlist-align">
            <dt class="mb-0" style="font-size: 13pt;">Total:</dt>
            <dt class="text-right ml-3 mb-0">
              <p id="total" style="font-size: 13pt;">${{ total_price_with_shipping|floatformat:2 }}</p>
            </dt>
          </dl>
          <br><br><br>
          {% if cart_items_count > 0 %}
          <a href="/checkout" class="btn btn-primary border-0 w-100 rounded-lg" data-abc="true"><i
              class="fa fa-shopping-cart"></i> Proceed to checkout</a>
          {% else %}
          <a class="btn btn-default bg-gray border-0 w-100 rounded-lg"><i class="fa fa-shopping-cart"></i> Proceed to
            checkout</a>
          {% endif %}
          <a href="/" class="btn btn-dark w-100 mt-2 rounded-lg" data-abc="true">Continue Searching</a>
        </div>
      </div>
    </aside>
  </div>

</div>


<script>

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function removeItemFromCart(cartItemId) {

    const csrftoken = getCookie('csrftoken');

    cartItemId = Number(cartItemId);

    $.ajax({
      type: "POST",
      headers: {
        'X-CSRFToken': csrftoken
      },
      url: "{% url 'removeCartItem' %}",
      data: {
        'cartItemId': cartItemId,
      },
      success: function () {
        location.reload();
      }
    })


  }

</script>




{% endblock %}