<style>
    .color-picker-button {
        width: 30px;
        height: 30px;
    }
</style>

<div class="regular-clothing-size-filter-container text-center py-4">
    <p class="my-2 text-muted">
        Pick Color
    </p>
    <div class="d-flex justify-content-center align-items-center">
        <div class="px-2"><button class="btn color-picker-button btn-danger rounded-circle bg-danger"></button></div>
        <div class="px-2"><button class="btn color-picker-button btn-primary rounded-circle bg-primary"></button></div>
        <div class="px-2"><button class="btn color-picker-button btn-warning rounded-circle bg-warning"></button></div>
        <div class="px-2"><button class="btn color-picker-button btn-success rounded-circle bg-success"></button></div>
        <div class="px-2"><button class="btn color-picker-button btn-basic rounded-circle bg-light border"></button></div>
        <div class="px-2"><button class="btn color-picker-button btn-dark rounded-circle bg-dark"></button></div>

    </div>

</div>