<div class="dimensions-filter-container text-center py-2">
    <p class="my-3 text-muted">
        Insert Size
    </p>
    <div class="d-flex justify-content-center">
        <div class="text-left">
            <div class="w-100 pb-2 pt-1 pr-2">
                <input type="text" class="form-control w-100 border-0" placeholder="width (cm)">
            </div>
        </div>

        <div class="text-left">
            <div class="w-100 pb-2 pt-1 pr-2">
                <input type="text" class="form-control w-100 border-0" placeholder="lenght (cm)">
            </div>
        </div>

    </div>
</div>

<script>
    var prevButton = null;

    function changeBackground(button) {
        if (prevButton !== null) {
            prevButton.classList.toggle("bg-light");
            prevButton.classList.toggle("bg-primary");
        }

        button.classList.toggle("bg-light");
        button.classList.toggle("bg-primary");
        prevButton = button;
    }
</script>