<div class="width-lenght-size-filter-container text-center py-4">

    <div class="d-flex justify-content-center align-items-center">

        <div class="col-md-6">
            <label class="pt-2 text-muted" for="ime">width:</label>
            <div class="position-relative inputContainer">
                <input type="text" class="form-control border-0" id="ime">
            </div>
        </div>

        <div class="col-md-6">
            <label class="pt-2 text-muted" for="ime">lenght:</label>
            <div class="position-relative inputContainer">
                <input type="text" class="form-control border-0" id="ime">
            </div>
        </div>

    </div>

</div>