<div class="container m-auto" style="max-width: 600px;">
    <img src='https://multiverzum.com/static/main/img/icons/logo-icon.png'
        style="margin: auto; display: block; max-width: 100px; width: 100%"></img>
    <br><br>
    <p>
    <h1>Hello {{name}},<br></h1>
    We hope this email finds you well! We are thrilled to notify you that you have received a new message on
    Multiverzum, your go-to destination for all things extraordinary.
    <br><br>
    Why are we so excited? Because we believe that every message holds the potential to unlock exciting opportunities,
    forge new connections, and spark thrilling conversations. And now, we're here to make sure you never miss a beat!
    <br><br>
    Someone on Multiverzum has reached out to you with a new message, and we couldn't wait to inform you. We understand
    the importance of prompt communication, so we've taken the liberty of sending you this email to ensure you don't
    miss any chance to connect with fellow explorers and enthusiasts.
    <br><br>
    To view your new message, simply log in to your Multiverzum account and head to your inbox. Dive into the world of
    endless possibilities, engage in meaningful conversations, and unleash your imagination as you interact with the
    vibrant community on Multiverzum.
    <br><br>
    So, don't wait! Explore the wonders of your inbox and embark on your next adventure. Who knows what incredible
    opportunities await you within the realms of Multiverzum?
    <br><br>
    Thank you for being a valued member of our community. We're excited to have you onboard and can't wait to witness
    the magic that unfolds with every new message you receive.
    <br><br>
    If you have any questions or need assistance, our dedicated support team is always here to help. Feel free to reach
    out to us anytime.
    <br><br>
    Stay connected, stay inspired, and let the Multiverzum experience take you to new heights!
    <br><br>
    Best regards, <br>
    The Multiverzum Team
    </p>
</div>