{% extends 'base.html' %}
{% load static %}
{% block title %}Confirm Account Removal - multiverzum.com{% endblock %}

{% block content %}


<div class="container p-4" style="min-height: 80vh;">

    <h2>Confirm Account Removal</h2>

    <p>
        When you delete your account, your profile, courses, comments, subscriptions and notes will be permanently
        removed. Are you sure you want to delete your profile?
    </p>

    <form method="POST">
        {% csrf_token %}
        <input class="btn btn-danger text-white" type="submit" value="Yes, delete my Account Now">
        <a href="/" class="btn btn-secondary">No, take me back to homepage instead</a>
    </form>

</div>


{% endblock %}