{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - multiverzum.com{% endblock %}

{% block content %}


<div class="w-100 mt-1">


    {% block support-tab-menu %}
    {% include 'partials/support-tab-menu.html' %}
    {% endblock %}



    <div class="container mt-2 p-4">
        <h2 class="py-4 bold">FAQ</h2>

        {% for faq in faqs %}

        <h4 class="py-4 bold">{{ faq.question }}</h4>
        <p class="text-justify">
            {{ faq.answer|safe }}
        </p>
       
        {% endfor %}
    </div>
</div>


{% endblock %}