<style>
    button{
        white-space: nowrap;
    }
</style>

<div class="regular-clothing-size-filter-container text-center py-2">
    <p class="my-3 text-muted">
        Select Size
    </p>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="p-1"><button class="size btn btn-basic bg-light" id="xs" onclick="changeBackground(this)">1-2m</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-light" id="s" onclick="changeBackground(this)">2-4m</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-light" id="m" onclick="changeBackground(this)">5-6m</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-light" id="l" onclick="changeBackground(this)">7-8m</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-light" id="xl" onclick="changeBackground(this)">9-10m</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-light" id="xxl" onclick="changeBackground(this)">11-12m</button></div>

    </div>
    
</div>


<script>
    var prevButton = null;

    function changeBackground(button) {
        if (prevButton !== null) {
            prevButton.classList.toggle("bg-light");
            prevButton.classList.toggle("bg-primary");
        }

        button.classList.toggle("bg-light");
        button.classList.toggle("bg-primary");

        prevButton = button;
    }
</script>