<style>
    button{
        white-space: nowrap;
    }
</style>

<div class="regular-clothing-size-filter-container text-center py-2">
    <p class="my-3 text-muted">
        Select Size
    </p>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="p-1"><button class="size btn btn-basic bg-gray" id="xs" onclick="changeBackground(this)">2-3 g.</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-gray" id="s" onclick="changeBackground(this)">4-5 g.</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-gray" id="m" onclick="changeBackground(this)">6-7 g.</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-gray" id="l" onclick="changeBackground(this)">8-9 g.</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-gray" id="xl" onclick="changeBackground(this)">10-11 g.</button></div>
        <div class="p-1"><button class="size btn btn-basic bg-gray" id="xxl" onclick="changeBackground(this)">12-13 g.</button></div>
    
    </div>
    
</div>


<script>
    var prevButton = null;

    function changeBackground(button) {
        if (prevButton !== null) {
            prevButton.classList.toggle("bg-light");
            prevButton.classList.toggle("bg-primary");
        }

        button.classList.toggle("bg-light");
        button.classList.toggle("bg-primary");

        prevButton = button;
    }
</script>