<div class="gender-filter-container text-center py-3">
    <p class="my-2 text-muted">
        Select Fit Type
    </p>
    <div class="btn-group-toggle" data-toggle="buttons" name="item_condition">
        <label class="btn btn-basic bg-gray border-0 py-2 px-4 pointer btn-action rounded-lg" onclick="changeBackground(this)">
            <input type="radio" name="item_condition" id="new" autocomplete="off" value="New" checked>
            <i class="fa fa-mars" style="color: var(--text-color);"></i>
        </label>
        <label class="btn btn-basic bg-gray py-2 px-4 pointer btn-action rounded-lg" onclick="changeBackground(this)">
            <input type="radio" name="item_condition" id="used" autocomplete="off" value="Used">
            <i class="fa fa-venus" style="color: var(--text-color);"></i>
        </label>
    </div>
</div>

<script>
    var prevButton = null;

    function changeBackground(button) {
        if (prevButton !== null) {
            prevButton.classList.toggle("bg-light");
            prevButton.classList.toggle("bg-primary");
        }

        button.classList.toggle("bg-light");
        button.classList.toggle("bg-primary");
        prevButton = button;
    }
</script>