<style>
    .image-upload-container {
        max-width: 600px;
    }

    .upload-image-field {
        background-color: var(--color-gray) !important;
        color: var(--text-color) !important;
        border: 1px dashed gray;
    }

    #imagePreview img{
        object-fit: cover;
        max-height: 120px;
    }
</style>

<div class="image-upload-container text-center py-3">
    <p class="my-2 text-muted">
        Upload Image(s)
    </p>

    <div id="imagePreview" class="row my-2"></div>

    <input type="file" class="form-control inputfile my-2 d-none" name="images" size="80" multiple id="imagesInput" required>
    <label class="w-100 pointer upload-image-field rounded-lg py-4" for="imagesInput"><i
            class="fa fa-plus"></i>
        Drag or click to add image</label>
</div>

<script src="/static/main/js/image-preview.js"></script>
