<div class="w-100 text-center py-2">
    <p class="my-3 text-muted">
        Choose a phone model:
    </p>
    <div class="d-flex justify-content-center m-auto" style="max-width: 600px">
        <select class="form-select form-control border-0" aria-label="Default select example">
            <option selected>---SELECT---</option>
            <option>Samsung Galaxy S22</option>
            <option>Samsung Galaxy S23</option>
            <option>Samsung Galaxy A53 5G</option>
            <option>Samsung Galaxy S23 Ultra</option>
            <option>Samsung Galaxy A52 4G/5G/A52s 5G</option>
            <option>Samsung Galaxy A54 5G</option>
            <option>Samsung Galaxy S22 Ultra</option>
            <option>Samsung Galaxy M10</option>
            <option>Samsung Galaxy A02-A022f</option>
            <option>Samsung Galaxy S9 Plus G965</option>
            <option>Samsung Galaxy M20</option>
            <option>Samsung J300/J320F Galaxy J3 2016</option>
            <option>Samsung Galaxy J5 Prime G570F</option>
            <option>Samsung Galaxy S10 Lite-G770/Galaxy A91-A915</option>
            <option>Samsung Galaxy A51-A515F</option>
            <option>Samsung Galaxy A02s-A025</option>
            <option>Samsung Galaxy A10-A105F</option>
            <option>Samsung Galaxy Note 20</option>
            <option>Samsung Galaxy A21-A215</option>
            <option>Samsung Galaxy S23 Plus</option>
            <option>Samsung J500F Galaxy J5</option>
            <option>Samsung Galaxy A8 Plus 2018 A730F</option>
            <option>Samsung Galaxy A14 4G/5G</option>
            <option>Samsung Galaxy A7 2018-A750FN</option>
            <option>Samsung Galaxy S8 Plus G955</option>
            <option>Samsung Galaxy A23 4G/A23 5G</option>
            <option>Samsung Galaxy A13 4G</option>
            <option>Samsung Galaxy S20 Plus-G985</option>
            <option>Samsung G935 S7 edge</option>
            <option>Samsung Galaxy J3 2017 J330F / J3 Pro 2017</option>
            <option>Samsung Galaxy J3 (2018) J337A (EU)</option>
            <option>Samsung Galaxy S20 FE</option>
            <option>Samsung Galaxy A6 2018-A600F</option>
            <option>Samsung Galaxy J5 J510F (2016)</option>
            <option>Samsung Galaxy A03s</option>
            <option>Samsung Galaxy Note 10 Lite/Galaxy A81-A815</option>
            <option>Samsung Galaxy A03-A035</option>
            <option>Samsung Galaxy A34 5G</option>
            <option>Samsung Galaxy A9 2018-A920F</option>
            <option>Samsung J730F Galaxy J7 2017</option>
            <option>Samsung Galaxy S6 edge G925</option>
            <option>Samsung Galaxy J6 Plus-J610FN</option>
            <option>Samsung Galaxy A13 5G/A04s</option>
            <option>Samsung Galaxy A12-A125</option>
            <option>Samsung Galaxy A01-A015</option>
            <option>Samsung Galaxy J4 2018 J400F</option>
            <option>Samsung Galaxy S22 Plus</option>
            <option>Samsung Galaxy J8 2018- J810</option>
            <option>Samsung Galaxy S21 Ultra</option>
            <option>Samsung Galaxy A33 5G</option>
            <option>Samsung Galaxy A31-A315</option>
            <option>Samsung Galaxy S20-G980</option>
            <option>Samsung Galaxy Note 9-N960</option>
            <option>Samsung Galaxy A72 4G/5G-A725F/A726B</option>
            <option>Samsung Galaxy A41-A415</option>
            <option>Samsung Galaxy A3 A310 (2016)</option>
            <option>Samsung Galaxy A73 5G</option>
            <option>Samsung Galaxy S20 Ultra-G988</option>
            <option>Samsung Galaxy S21</option>
            <option>Samsung Galaxy A40-A405F</option>
            <option>Samsung Galaxy A10s A107F</option>
            <option>Samsung Galaxy G930 S7</option>
            <option>Samsung Galaxy S8 G950</option>
            <option>Samsung Galaxy A3 2017 A320F</option>
            <option>Samsung Galaxy A6 Plus 2018-A605G</option>
            <option>Samsung Galaxy A22 4G</option>
            <option>Samsung Galaxy J2 Pro 2018-J250F</option>
            <option>Samsung Galaxy S21 FE</option>
            <option>Samsung G928 S6 Edge+</option>
            <option>Samsung Galaxy A60 A606F</option>
            <option>Samsung Galaxy J6 2018 (EU) - J600F</option>
            <option>Samsung Galaxy J5 2017 J530F/J5 Pro 2017</option>
            <option>Samsung Galaxy J4 Plus -J415FN</option>
            <option>Samsung Galaxy J7 J710F 2016</option>
            <option>Samsung Galaxy A22 5G</option>
            <option>Samsung Galaxy A70 A705F</option>
            <option>Samsung Galaxy A5 A510 (2016)</option>
            <option>Samsung Galaxy Note 8</option>
            <option>Samsung Galaxy S10 Plus-G975</option>
            <option>Samsung Galaxy A32 5G-A326B</option>
            <option>Samsung Galaxy A20s A207F</option>
            <option>Samsung Galaxy Note 10 Plus</option>
            <option>Samsung Galaxy S10s-G970</option>
            <option>Samsung A013-A01 Core</option>
            <option>Samsung Galaxy A30/A20-A305F/A205F</option>
            <option>Samsung Galaxy S6 G920</option>
            <option>Samsung Galaxy A8 2018 A530F</option>
            <option>Samsung Galaxy A5 2017 A520F</option>
            <option>Samsung Galaxy A80/A90-A805F/A905</option>
            <option>Samsung Galaxy A32 4G-A325F</option>
            <option>Samsung Galaxy A50/A30s/A50s-A505F/A307/A507</option>
            <option>Samsung Galaxy S10-G973</option>
            <option>Samsung Galaxy Note 20 Ultra</option>
            <option>Samsung Galaxy A20e A202F</option>
            <option>Samsung Galaxy Note 10</option>
            <option>Samsung Galaxy S21 Plus</option>
            <option>Samsung Galaxy A6s</option>
            <option>Samsung Galaxy J7 Max</option>
            <option>Samsung Galaxy A21s- A217</option>
            <option>Samsung Galaxy S9 G960</option>
            <option>Samsung Galaxy J7 J700F</option>
            <option>Samsung Galaxy A11-A115</option>
            <option>Samsung Galaxy A71-A715F</option>
            <option>Samsung Galaxy J7 Duo 2018</option>
            <option>Samsung Galaxy A2 Core-A260F</option>
            <option>iPhone 11</option>
            <option>iPhone 11 Pro</option>
            <option>iPhone 11 Pro Max</option>
            <option>iPhone 12</option>
            <option>iPhone 12 Mini</option>
            <option>iPhone 12 Pro</option>
            <option>iPhone 12 Pro Max</option>
            <option>iPhone 13</option>
            <option>iPhone 13 Mini</option>
            <option>iPhone 13 Pro</option>
            <option>iPhone 13 Pro Max</option>
            <option>iPhone 14</option>
            <option>iPhone 14 Pro</option>
            <option>iPhone 14 Pro Max</option>
            <option>iPhone 14 Plus</option>
            <option>iPhone X/XS</option>
            <option>iPhone XS Max</option>
            <option>iPhone XR</option>
            <option>iPhone SE 2020/SE 2022</option>
            <option>iPhone 5/iPhone 5S</option>
            <option>iPhone 5C</option>
            <option>iPhone 6/iPhone 6S</option>
            <option>iPhone 6 Plus/iPhone 6S Plus</option>
            <option>iPhone 7/iPhone 8</option>
            <option>iPhone 7 Plus/iPhone 8 Plus</option>
            <option>Huawei P30 Pro</option>
            <option>Huawei P30 Lite/Nova 4e</option>
            <option>Huawei P40 Lite/Nova 6SE</option>
            <option>Huawei P10 Plus</option>
            <option>Huawei Y6p</option>
            <option>Huawei Honor 10 Lite / P Smart 2019</option>
            <option>Honor 10</option>
            <option>Huawei P10</option>
            <option>Huawei P Smart/Enjoy 75</option>
            <option>Huawei P40 lite E/Y7p</option>
            <option>Huawei Mate 20</option>
            <option>Honor 20 Lite/ Honor 20e</option>
            <option>Huawei Y6 Pro 2019/ Y6 2019</option>
            <option>Honor 8</option>
            <option>Huawei Y7 2019/ Y7 Prime 2019</option>
            <option>Huawei Mate 20 Pro</option>
            <option>Huawei Nova 9 SE/ Honor 50 SE</option>
            <option>Huawei Nova 9</option>
            <option>Huawei Mate 10 Lite</option>
            <option>Huawei Mate 8</option>
            <option>Huawei P40</option>
            <option>Huawei Mate 10 Pro</option>
            <option>Huawei Mate S</option>
            <option>Huawei P20</option>
            <option>Huawei P8</option>
            <option>Huawei Ascend Y600</option>
            <option>Huawei Y5/Y560</option>
            <option>Huawei Y5 Prime 2018/Honor 7S/Y5 2018</option>
            <option>Honor 7 lite/5C</option>
            <option>Huawei P Smart 2021/Y7a</option>
            <option>Honor 8X</option>
            <option>Huawei Y5p/Honor 9S</option>
            <option>Honor 5X</option>
            <option>Huawei Y5 2017/Y6 2017/Nova Young</option>
            <option>Huawei P9 plus</option>
            <option>Huawei Y6 2018</option>
            <option>Huawei Y6 II</option>
            <option>Honor 9 Lite</option>
            <option>Huawei Mate 30 Pro</option>
            <option>Huawei P Smart+ (nova 3i)</option>
            <option>Huawei Honor 50 Lite / Nova 8i</option>
            <option>Huawei P9 Lite mini / Y6 Pro 2017</option>
            <option>Huawei P8 lite</option>
            <option>Huawei P20 Pro</option>
            <option>Huawei P40 Pro</option>
            <option>Huawei Y7 Prime 2018/Honor 7C</option>
            <option>Huawei P20 Lite</option>
            <option>Huawei Y625</option>
            <option>Huawei Mate 20 Lite</option>
            <option>Honor 9</option>
            <option>Huawei Mate 10</option>
            <option>Huawei P9</option>
            <option>Huawei P30</option>
            <option>Honor 20/Nova 5T</option>
            <option>Huawei Y6 II Compact</option>
            <option>Huawei P Smart Z</option>
            <option>Huawei P10 Lite</option>
            <option>Huawei Y6</option>
            <option>Honor 9X Lite</option>
            <option>Honor 20 Pro</option>
            <option>Xiaomi Redmi Note 9 Pro/ Note 9 Pro Max/ Note 9S</option>
            <option>Xiaomi Redmi Note 11/ Note 11S</option>
            <option>Xiaomi Redmi Note 10 Pro / 10 Pro Max</option>
            <option>Xiaomi Redmi 10C</option>
            <option>Xiaomi Redmi 6A</option>
            <option>Xiaomi Redmi Note 8</option>
            <option>Xiaomi Redmi A1/A2</option>
            <option>Xiaomi Redmi 9T/ Note 9 4G/9 Power</option>
            <option>Xiaomi Redmi Note 7</option>
            <option>Xiaomi Redmi Note 11 Pro 4G/5G/Note 12 Pro 4G</option>
            <option>Xiaomi 11T/11T Pro</option>
            <option>Xiaomi Poco X3 NFC / Poco X3 Pro</option>
            <option>Xiaomi Mi 10T/ Mi 10T Pro / Redmi K30S</option>
            <option>Xiaomi Redmi 8</option>
            <option>Xiaomi Redmi 9</option>
            <option>Xiaomi Poco F3 / Mi 11i</option>
            <option>Xiaomi Redmi Note 8T</option>
            <option>Xiaomi 12 Lite</option>
            <option>Xiaomi Redmi 9A/9AT/9i</option>
            <option>Xiaomi Mi Note 10 Lite</option>
            <option>Xiaomi 12/12X</option>
            <option>Xiaomi Mi Note 10/Note 10 Pro/CC9 Pro</option>
            <option>Xiaomi Mi 9T/9T Pro / Redmi K20 / K20 Pro</option>
            <option>Xiaomi Mi 11</option>
            <option>Xiaomi Redmi 8A</option>
            <option>Xiaomi Redmi 10/10 Prime</option>
            <option>Xiaomi Mi 8 Lite</option>
            <option>Xiaomi Mi 9 Lite/CC9</option>
            <option>Xiaomi Redmi 7A</option>
            <option>Xiaomi Mi 11 Lite /11 Lite 5G/11 Lite 5G NE</option>
            <option>Xiaomi Mi 9 Pro</option>
            <option>Xiaomi Redmi 9C/9C NFC / 10A</option>
            <option>Xiaomi Redmi Note 9 /Redmi 10x 4G</option>
            <option>Xiaomi Mi 9</option>
            <option>Xiaomi Redmi 7</option>
            <option>Xiaomi Redmi Note 10 4G / Redmi Note 10s</option>
            <option>Xiaomi Redmi Note 8 Pro</option>
            <option>Xiaomi Redmi Note 11 Pro Plus /Poco X4 NFC</option>
            <option>Alcatel 1S 2021/3L 2021/A1 Alpha 21</option>
            <option>Alcatel 3X/ 3X Pro 2019/ 5048Y</option>
            <option>Alcatel 1S 2020/5028D/3L 2020 / A1 Alpha 20</option>
            <option>HTC Desire 12 Plus</option>
            <option>HTC U Play</option>
            <option>HTC Desire 530/650</option>
            <option>HTC Desire 830</option>
            <option>HTC U12 Life</option>
            <option>HTC Desire 12</option>
            <option>HTC Desire 828</option>
            <option>HTC U Ultra</option>
            <option>HTC U11 Life</option>
            <option>HTC 10</option>
            <option>HTC Desire 825</option>
            <option>HTC Desire 10 Lifestyle</option>
            <option>LG K40S</option>
            <option>LG K10 2018</option>
            <option>LG K8 2017 M200N</option>
            <option>LG K40</option>
            <option>LG K50</option>
            <option>LG Q60</option>
            <option>LG G7 ThinQ</option>
            <option>LG G6 H870</option>
            <option>LG LEON H340N</option>
            <option>LG K30 (2019)</option>
            <option>LG Spirit</option>
            <option>LG K51S</option>
            <option>LG K10 2017 M250N</option>
            <option>LG MAGNA H520G</option>
            <option>LG K10/K420N</option>
            <option>LG K4 2017</option>
            <option>LG K41S</option>
            <option>LG K8 2018</option>
            <option>LG Bello II</option>
            <option>LG K20 (2019)</option>
            <option>Lenovo A6020/Vibe K5</option>
            <option>Lenovo Vibe S1 Lite</option>
            <option>Lenovo A1010/A Plus</option>
            <option>Lenovo K4 Note</option>
            <option>Lenovo A2020/Vibe C</option>
            <option>Lenovo K6</option>
            <option>Lenovo K6 Note</option>
            <option>Lenovo Moto C Plus</option>
            <option>Lenovo A1000</option>
            <option>Lenovo A7000</option>
            <option>Lenovo A6000/A6010</option>
            <option>Lenovo P70</option>
            <option>Meizu m1 note</option>
            <option>Meizu m2 note</option>
            <option>Nokia 7 plus</option>
            <option>Sony Xperia XZ3</option>
            <option>Sony Xperia XA1</option>
            <option>Sony Xperia XZ Premium</option>
            <option>Sony Xperia XA</option>
            <option>Sony Xperia XZ</option>
            <option>Sony Xperia XA Ultra</option>
            <option>Sony Xperia L2</option>
            <option>Sony Xperia XA1 Ultra</option>
            <option>Sony Xperia XZ2</option>
            <option>Tesla Smartphone 3.1 Lite</option>
            <option>Tesla Smartphone 6.3</option>
        </select>
    </div>
</div>