{% extends 'admin-base.html' %}
{% load static %}

{% block title %}Support Tickets - multiverzum.com{% endblock %}

{% block content %}


<style>
    tr:hover{
        background-color: var(--color-gray);
    }
</style>

<div class="container mt-2">

    <div class="p-3">
        <h2 class="bold">Support Tickets</h2>
        <span class="text-muted">Hi {{ request.user.username }}, Welcome back!</span>
    </div>


    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Message</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>

                {% for ticket in tickets %}

                <tr>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.email }}</td>
                    <td>{{ ticket.message }}</td>
                    <td>{{ ticket.date_created }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}