<div class="chatbot-widget bg-app">

    <div class="chatbot-icon-wrapper bg-app p-2 position-fixed rounded-circle shadow pointer">
        <img src="/static/main/img/icons/chatbot.png" style="max-height: 35px;" alt="">
    </div>

    <div class="chatbot-container position-fixed bg-app rounded-lg shadow d-none">

        <div class="chat-header py-2 px-3 d-flex justify-content-between">
            <h5 class="m-0">Multibot</h5>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="chat-messages multibot-chat py-3 px-4">

            <div class="d-flex flex-row justify-content-start">
                <div class="profile-image"><img src="/static/main/img/icons/chatbot.png"
                        class="rounded-circle chat-profile-images" alt="avatar 1"></div>
                <div>
                    <p class="small p-2 ms-3 mb-1 rounded msg-gray-bg ml-2">Hi there. How can I help you today?</p>
                    <p class="small ms-3 mb-3 rounded text-muted message-time ml-2" id="first-message-time">22:26</p>
                </div>
            </div>

        </div>
        <form id="ask-multibot-form" method="POST">
            <div class="chat-input p-3">
                <div class="input-group">
                    <input id="message-input" name="message" autocomplete="off" type="text" class="form-control border-0 rounded-lg"
                        placeholder="Type your message">
                    <div class="input-group-append pl-2">
                        <button id="send-button" type="submit" class="btn btn-primary border-0 rounded-lg"
                            type="button">Send</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        document.getElementById('first-message-time').textContent = currentTime;
    });


    $('#ask-multibot-form').submit(function (event) {
        event.preventDefault();

        var message = document.getElementById('message-input').value;

        var currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

        var html = `
        <div class="d-flex flex-row justify-content-end">
          <div>
            <p class="small p-2 me-3 mb-1 text-white rounded bg-primary mr-2">${message}</p>
            <p class="small me-3 mb-3 rounded text-muted d-flex justify-content-end mr-2">${currentTime}</p>
          </div>
          <div class="profile-image">
            {% if request.user.is_authenticated %}
            <img src="{{request.user.profile_image.url}}" class="rounded-circle chat-profile-images" loading="lazy" style="object-fit: cover;" />
            {% else %}
            <img src="/static/main/img/icons/profile.svg" class="rounded-circle chat-profile-images" loading="lazy" style="object-fit: cover;" />
            {% endif %}
          </div>
        </div>
      `;

        var chatMessagesDiv = document.querySelector('.chat-messages');
        chatMessagesDiv.innerHTML += html;

        document.getElementById('message-input').value = '';

        var data = {
            message: message
        };

        const csrftoken = getCookie('csrftoken');

        $.ajax({
            url: '/api/ask-multibot',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: data,
            success: function (response) {
                displayMultibotReplyMessage(response);
            },
            error: function (error) {
                console.error(error);
            }
        });

    });


    function displayMultibotReplyMessage(message) {

        var currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

        var html = `
        <div class="d-flex flex-row justify-content-start">
            <div class="profile-image"><img src="/static/main/img/icons/chatbot.png"
                class="rounded-circle chat-profile-images" alt="multibot">
            </div>
            <div>
                <p class="small p-2 ms-3 mb-1 rounded msg-gray-bg ml-2">${message}</p>
                <p class="small me-3 mb-3 rounded text-muted d-flex justify-content-end mr-2">${currentTime}</p>
            </div>
        </div>
      `;

        var chatMessagesDiv = document.querySelector('.chat-messages');
        chatMessagesDiv.innerHTML += html;
    }
</script>

<script>
    $(document).ready(function () {
        $('.chatbot-icon-wrapper').click(function () {
            $('.chatbot-container').toggleClass('d-none');
        });
        $('.close').click(function () {
            $('.chatbot-container').addClass('d-none');
        });
    });
</script>