<div class="quantity-filter-container text-center py-3">
    <p class="my-2 text-muted">
        Select Quantity
    </p>
    <div class="input-group m-auto justify-content-center" style="max-width: 140px;">
        <span class="input-group-btn">
            <button type="button" style="color: var(--text-color) !important;" class="quantity-left-minus btn bg-gray rounded-lg btn-number" data-type="minus" data-field="">
                <span class="fa fa-minus"></span>
            </button>
        </span>
        <input type="text" id="quantity" style="width: 40px; color: var(--text-color);" name="quantity" class="border-0 text-center input-number bg-transparent" value="1" min="1" max="100">
        <span class="input-group-btn">
            <button type="button" style="color: var(--text-color) !important;" class="quantity-right-plus btn bg-gray rounded-lg btn-number" data-type="plus" data-field="">
                <span class="fa fa-plus"></span>
            </button>
        </span>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.quantity-right-plus').click(function (e) {

            e.preventDefault();
            var quantity = parseInt($('#quantity').val());


            $('#quantity').val(quantity + 1);

        });

        $('.quantity-left-minus').click(function (e) {
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());


            if (quantity > 1) {
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>