<div class="container mt-2">
    <div class="row">

        <div class="col-md-5 mb-2 mb-md-0">
            <div class="card shadow-sm bg-app p-3">
                <div class="d-flex">
                    <div class="w-50 m-auto">
                        <div>
                            <canvas id="chart1"></canvas>
                            <span class="d-block text-center">Response rate</span>
                        </div>
                    </div>
                    <div class="w-50 m-auto">
                        <div>
                            <canvas id="chart2"></canvas>
                            <span class="d-block text-center">Order completion</span>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="w-50 m-auto">
                        <div>
                            <canvas id="chart3"></canvas>
                            <span class="d-block text-center">On-time delivery</span>
                        </div>
                    </div>
                    <div class="w-50 m-auto">
                        <div>
                            <canvas id="chart4"></canvas>
                            <span class="d-block text-center">Positive rating</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 mb-2 mb-md-0">
            <div class="card shadow-sm bg-app p-3">
                <h3>Earnings</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="py-3 d-flex flex-column">
                            <span>Available for withdrawl</span>
                            <h4 class="bold text-primary">$0</h4>
                        </div>
                        <div class="py-3 d-flex flex-column">
                            <span>Avg. selling price</span>
                            <h4 class="bold">$0</h4>
                        </div>
                        <div class="py-3 d-flex flex-column">
                            <span>Payments being cleared</span>
                            <h4 class="bold">$0</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="py-3 d-flex flex-column">
                            <span>Earnings in June</span>
                            <h4 class="bold">$0</h4>
                        </div>
                        <div class="py-3 d-flex flex-column">
                            <span>Active orders</span>
                            <h4 class="bold">$0</h4>
                        </div>
                        <div class="py-3 d-flex flex-column">
                            <span>Cancelled orders</span>
                            <h4 class="bold">$0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<script>
    const ctx1 = document.getElementById('chart1').getContext('2d');
    const chart1 = new Chart(ctx1, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [10, 20],
                backgroundColor: ['#05BFDB', '#f2f2f2']
            }]
        },
        options: {
            cutoutPercentage: 70,
            elements: {
                arc: {
                    borderWidth: 3,
                }
            }
        }
    });

    const ctx2 = document.getElementById('chart2').getContext('2d');
    const chart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [10, 20],
                backgroundColor: ['#05BFDB', '#f2f2f2']
            }]
        },
        options: {
            cutoutPercentage: 70,
            elements: {
                arc: {
                    borderWidth: 3,
                }
            }
        }
    });

    const ctx3 = document.getElementById('chart3').getContext('2d');
    const chart3 = new Chart(ctx3, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [10, 20],
                backgroundColor: ['#05BFDB', '#f2f2f2']
            }]
        },
        options: {
            cutoutPercentage: 70,
            elements: {
                arc: {
                    borderWidth: 3,
                }
            }
        }
    });

    const ctx4 = document.getElementById('chart4').getContext('2d');
    const chart4 = new Chart(ctx4, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [10, 20],
                backgroundColor: ['#05BFDB', '#f2f2f2']
            }]
        },
        options: {
            cutoutPercentage: 70,
            elements: {
                arc: {
                    borderWidth: 3,
                }
            }
        }
    });

</script>