
<div class="modal fade" id="image-preview-modal" tabindex="-1" role="dialog"
  aria-labelledby="image-preview-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content rounded-lg">

      <div class="modal-body p-0">
        
        <div id="carouselPreviewControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            {% for image in itemImages %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <img class="rounded-lg w-100" style="cursor: pointer;" src="/media/{{ image.image }}" alt="Item image">
            </div>
            {% endfor %}

          </div>
          <a class="carousel-control-prev" href="#carouselPreviewControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselPreviewControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>