{% extends 'base.html' %}
{% load static %}
{% block title %}Want to become a seller? - multiverzum.com{% endblock %}

{% block content %}


<style>
    textarea {
        resize: none;
    }
</style>


<div class="mt-1">
    <div class="bg-app py-4">

        <div style="max-width: 700px; margin: auto;">
            <h2 class="bold">Want to sell your own items?</h2>
            <span class="m-auto d-block">Fill out the form and become a part of our team!</span>
            <br>
        </div>

        <form action="" method="POST" style="max-width: 700px;" class="m-auto">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control border-0" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control border-0" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control border-0" id="phone" name="phone" required>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input class="form-control border-0" id="address" name="address" rows="3" required>
            </div>
            <div class="mb-3">
                <label for="business-name" class="form-label">Business Name</label>
                <input type="text" class="form-control border-0" id="business-name" name="business_name" required>
            </div>
            <div class="mb-3">
                <label for="business-description" class="form-label">Business Description</label>
                <textarea class="form-control border-0" id="business-description" name="business_description" rows="3"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-primary border-0">Submit</button>
        </form>
    </div>
</div>





{% endblock %}