{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block categories %}
{% include 'categories.html' %}
{% endblock %}

<style>
  .contain {
    object-fit: contain !important;
  }

  .category-card {
    background-color: var(--color-background-main);
    display: flex;
    align-items: center;
  }

  #hero-section {
    background: var(--hero-gradient);
    height: 330px;
  }

  #hero-section h1 {
    color: var(--color-oposite);
    font-size: 34pt;
  }

  .category-card-img img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .category-card-img img:hover {
    transform: scale(1.1);
  }

  .arc {
    width: 60%;
    height: 50px;
    border-radius: 50% 0% 50% 0%;
    border-top: 6px solid var(--color-primary);
  }

  #hero-slider-control .carousel-inner .carousel-item img{
    max-height: 258px;
  }

  #hero-close-button {
    top: 0.7rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2;
  }

  .top-seller-card {
    background-color: var(--card-image-background);
  }
</style>

{% if request.user.is_seller %}

{% block seller-status %}
{% include 'partials/seller-status.html' %}
{% endblock %}


{% else %}

{% block hero-slider %}
{% include 'partials/hero-slider.html' %}
{% endblock %}

{% endif %}


<div class="w-100 mt-2">
  <div class="container p-0 rounded-lg" id="items-container">

    <div class="py-3">
      <span class="h3 mx-0 px-4" style="width: max-content;">Trending categories</span>
    </div>

    <div class="container px-0">
      <div class="row categories-container mx-0 px-2">

        <div class="col-6 col-md-3 col-sm-4 col-xs-6 pb-3">
          <div class="card category-card rounded-lg justify-content-center">
            <div class="category-card-img w-100 rounded-lg overflow-hidden position-relative">
              <img class="h-100 w-100" loading="lazy" src="/static/main/img/category_images/Mugs.png"
                onclick="window.location = 'explore/category/Mugs'">
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3 col-sm-4 col-xs-6 pb-3">
          <div class="card category-card rounded-lg justify-content-center">
            <div class="category-card-img w-100 rounded-lg overflow-hidden position-relative">
              <img class="h-100 w-100" loading="lazy" src="/static/main/img/category_images/Bags.png"
                onclick="window.location = 'explore/category/bags'">
            </div>
          </div>
        </div>


        <div class="col-6 col-md-3 col-sm-4 col-xs-6 pb-3">
          <div class="card category-card rounded-lg justify-content-center">
            <div class="category-card-img w-100 rounded-lg overflow-hidden position-relative">
              <img class="h-100 w-100" loading="lazy" src="/static/main/img/category_images/Electronics.png"
                onclick="window.location = 'explore/category/electronics'">
            </div>
          </div>
        </div>


        <div class="col-6 col-md-3 col-sm-4 col-xs-6 pb-3">
          <div class="card category-card rounded-lg justify-content-center">
            <div class="category-card-img w-100 rounded-lg overflow-hidden position-relative">
              <img class="h-100 w-100" loading="lazy" src="/static/main/img/category_images/Gifts.png"
                onclick="window.location = 'explore/category/gifts'">
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3 col-sm-4 col-xs-6 pb-3">
          <div class="card category-card rounded-lg justify-content-center">
            <div class="category-card-img w-100 rounded-lg overflow-hidden position-relative">
              <img class="h-100 w-100" loading="lazy" src="/static/main/img/category_images/Clothing.png"
                onclick="window.location = 'explore/category/clothes'">
            </div>
          </div>
        </div>


        <div class="col-6 col-md-3 col-sm-4 col-xs-6 pb-3">
          <div class="card category-card rounded-lg justify-content-center">
            <div class="category-card-img rounded-lg overflow-hidden position-relative">
              <img class="h-100 w-100" loading="lazy" src="/static/main/img/category_images/Phone Cases.png"
                onclick="window.location = 'explore/category/phone cases'">
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3 col-sm-4 col-xs-6 pb-3">
          <div class="card category-card rounded-lg justify-content-center">
            <div class="category-card-img rounded-lg overflow-hidden position-relative">
              <img class="h-100 w-100" loading="lazy" src="/static/main/img/category_images/Accessories.png"
                onclick="window.location = 'explore/category/Accessories'">
            </div>
          </div>
        </div>


        <div class="col-6 col-md-3 col-sm-4 col-xs-6 pb-3">
          <div class="card category-card rounded-lg justify-content-center">
            <div class="category-card-img rounded-lg overflow-hidden position-relative">
              <img class="h-100 w-100" loading="lazy" src="/static/main/img/category_images/Kids%20&%20Babies.png"
                onclick="window.location = 'explore/category/Kids & Babies'">
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button onclick="window.location = '/explore'" class="btn btn-primary rounded-lg border-0 bold pointer">See more</button>
  </div>
</div>


<div class="w-100">

  {% if user.is_authenticated %}
  {% if recommendedItems %}
  <div class="container p-0">

    <div class="d-flex px-4 pt-4 pb-2">
      <span class="h3 m-0" style="white-space: nowrap;">Recommended for you</span>
    </div>

    <div class="row bg-default mx-0 rounded mt-xs-2 p-2">

      {% for item in recommendedItems %}
      <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6 rounded-0 pb-1 mb-2">
        <div class="card h-100">
          <div class="card-img-top shadow rounded-lg h-100 d-flex flex-column flex-end">

            <div class="heart-container shadow rounded-circle position-absolute">
              <i style="cursor: pointer;" id="{{item.id}}" class="fa-regular fa-heart"
                onclick="if(`{{request.user.is_authenticated}}` == 'True'){toggleWishlistItem('{{ item.id }}')}else{$('#login-alert').show()}"></i>
            </div>


            <div id="carouselExampleControls" class="carousel slide h-100" data-ride="carousel">
              <div class="carousel-inner h-100 rounded-lg">

                {% for image in item.itemimage_set.all %}
                <div class="h-100 carousel-item{% if forloop.first %} active{% endif %}">
                  <img class="d-block w-100 h-100 rounded-lg" src="/media/{{ image.image }}" alt="Item image"
                    onclick="window.location = '/item/{{ item.id }}' " loading="lazy">
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
          <div class="card-body p-2">
            <h5 class="card-title py-1 m-0" onclick="window.location = '/item/{{item.id}}'">{{ item.title }}</h5>

            <span class="card-seller">
              By {{ item.seller.username }}
            </span>

            {% if not item.discount_price %}

            <h3 class="card-text px-0 py-1 text-primary-darker">
              ${{item.price}}
            </h3>


            {% else %}

            <div class="d-flex">

              <h3 class="card-text px-0 py-1 mb-0 text-primary-darker pr-2">
                ${{item.discount_price}}
              </h3>


              <p class="text-muted m-0 d-flex align-items-center"
                style="text-decoration: line-through; font-size: 10pt;">${{item.price}}</p>


            </div>

            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endif %}

  {% if previouslyViewed %}
  <div class="container p-0">

    <div class="d-flex px-4 pt-4 pb-2">
      <span class="h3 m-0" style="white-space: nowrap;">Previously Viewed</span>
    </div>

    <div class="row bg-default mx-0 rounded mt-xs-2 p-2">


      {% for item in previouslyViewed %}
      <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6 rounded-0 pb-1 mb-2">
        <div class="card h-100">
          <div class="card-img-top shadow rounded-lg h-100 d-flex flex-column flex-end">

            <div class="heart-container shadow rounded-circle position-absolute">
              <i style="cursor: pointer;" id="{{item.id}}" class="fa-regular fa-heart"
                onclick="if(`{{request.user.is_authenticated}}` == 'True'){toggleWishlistItem('{{ item.id }}')}else{$('#login-alert').show()}"></i>
            </div>


            <div id="carouselExampleControls" class="carousel slide h-100" data-ride="carousel">
              <div class="carousel-inner h-100 rounded-lg">

                {% for image in item.itemimage_set.all %}
                <div class="h-100 carousel-item{% if forloop.first %} active{% endif %}">
                  <img class="d-block w-100 h-100 rounded-lg" src="/media/{{ image.image }}" alt="Item image"
                    onclick="window.location = '/item/{{ item.id }}' " loading="lazy">
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
          <div class="card-body p-2">
            <h5 class="card-title py-1 m-0" onclick="window.location = '/item/{{item.id}}'">{{ item.title }}</h5>

            <span class="card-seller">
              By {{ item.seller.username }}
            </span>

            {% if not item.discount_price %}

            <h3 class="card-text px-0 py-1 text-primary-darker">
              ${{item.price}}
            </h3>


            {% else %}

            <div class="d-flex">

              <h3 class="card-text px-0 py-1 mb-0 text-primary-darker pr-2">
                ${{item.discount_price}}
              </h3>


              <p class="text-muted m-0 d-flex align-items-center"
                style="text-decoration: line-through; font-size: 10pt;">${{item.price}}</p>
            </div>

            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="container p-0">

    <div class="d-flex px-4 pt-4 pb-2">
      <span class="h3 m-0" style="white-space: nowrap;">Trending Items</span>
      <div class="d-flex w-100" style="justify-content: flex-end;">
        <span style="justify-content: flex-end; align-items: center;" class="d-flex pointer"><a href="/explore/top"
            class="text-primary-darker bold">See more</a>
        </span>
      </div>
    </div>



    <div class="row bg-default mx-0 rounded mt-xs-2 p-2">


      {% for item in popularItems %}
      <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6 rounded-0 pb-1 mb-2">
        <div class="card h-100">
          <div class="card-img-top shadow rounded-lg h-100 d-flex flex-column flex-end">

            <div class="heart-container shadow rounded-circle position-absolute">
              <i style="cursor: pointer;" id="{{item.id}}" class="fa-regular fa-heart"
                onclick="if(`{{request.user.is_authenticated}}` == 'True'){toggleWishlistItem('{{ item.id }}')}else{$('#login-alert').show()}"></i>
            </div>


            <div id="carouselExampleControls" class="carousel slide h-100" data-ride="carousel">
              <div class="carousel-inner h-100 rounded-lg">

                {% for image in item.itemimage_set.all %}
                <div class="h-100 carousel-item{% if forloop.first %} active{% endif %}">
                  <img class="d-block w-100 h-100 rounded-lg" src="/media/{{ image.image }}" alt="Item image"
                    onclick="window.location = '/item/{{ item.id }}' " loading="lazy">
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
          <div class="card-body p-2">
            <h5 class="card-title py-1 m-0" onclick="window.location = '/item/{{item.id}}'">{{ item.title }}</h5>

            <span class="card-seller">
              By {{ item.seller.username }}
            </span>

            {% if not item.discount_price %}

            <h3 class="card-text px-0 py-1 text-primary-darker">
              ${{item.price}}
            </h3>


            {% else %}

            <div class="d-flex">

              <h3 class="card-text px-0 py-1 mb-0 text-primary-darker pr-2">
                ${{item.discount_price}}
              </h3>


              <p class="text-muted m-0 d-flex align-items-center"
                style="text-decoration: line-through; font-size: 10pt;">${{item.price}}</p>
            </div>

            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>


<div class="w-100 mt-1">

  <div class="container p-0 py-4">

    <div class="d-flex px-4 pt-2 pb-2">
      <span class="h3 m-0" style="white-space: nowrap;">Top Sellers</span>
    </div>



    <div class="row bg-default mx-0 mt-xs-2 p-2">
      {% for top_seller in top_sellers %}
      <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6 pb-1 mb-2">
        <div class="card top-seller-card h-100 rounded-lg shadow-sm">
          <div class="center p-4 text-center h-100 d-flex flex-column flex-end">

            <img class="d-block rounded-circle m-auto" style="object-fit: cover;" loading="lazy"
              src="{{ top_seller.profile_image.url }}" alt="Item image" width="100" height="100">
            <h5 class="card-title text-center pt-2 m-0">{{ top_seller.username }}</h5>
            <br>
            <a href="/seller/profile/{{ top_seller.username }}" class="btn btn-dark rounded-lg">View
              Shop</a>

          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

{% if user.is_authenticated %}
{% if user.first_visit %}

{% block firstVisitModal %}
{% include 'modals/first-visit-modal.html' %}
{% endblock %}

{% endif %}
{% else %}

<!-- {% block welcomeModal %}
{% include 'modals/welcome-modal.html' %}
{% endblock %} -->

{% block devWarningModal %}
{% include 'modals/dev-warning-modal.html' %}
{% endblock %}

{% endif %}

{% endblock %}