<style>
    .loading-spinner {
        z-index: 100;
        border: 16px solid var(--body-background);
        border-radius: 50%;
        border-top: 16px solid var(--color-primary);
        width: 60px;
        height: 60px;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
        border-width: 8px;
    }

    #loading-spinner-container {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="loading-spinner-container position-fixed" id="loading-spinner-container">
    <div class="loading-spinner"></div>
</div>