{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block categories %}
{% include 'categories.html' %}
{% endblock %}

<div class="w-100 mt-2">

  <div class="container p-0">

    <div class="d-flex px-4 pt-4 pb-2">
      <span class="h3 m-0" style="white-space: nowrap;">Trending Items</span>
    </div>



    <div class="row bg-default mx-0 rounded mt-xs-2 p-2">


      {% for item in items%}
      <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6 rounded-0 pb-1 mb-2">
        <div class="card h-100">
          <div class="card-img-top shadow rounded-lg h-100 d-flex flex-column flex-end">

            <div class="heart-container shadow rounded-circle position-absolute">
              <i style="cursor: pointer;" id="{{item.id}}" class="fa-regular fa-heart"
                onclick="if(`{{request.user.is_authenticated}}` == 'True'){toggleWishlistItem('{{ item.id }}')}else{$('#login-alert').show()}"></i>
            </div>


            <div id="carouselExampleControls" class="carousel slide h-100" data-ride="carousel">
              <div class="carousel-inner h-100 rounded-lg">

                {% for image in item.itemimage_set.all %}
                <div class="h-100 carousel-item{% if forloop.first %} active{% endif %}">
                  <img class="d-block w-100 h-100 rounded-lg" src="/media/{{ image.image }}" alt="Item image"
                    onclick="window.location = '/item/{{ item.id }}' ">
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
          <div class="card-body p-2">
            <h5 class="card-title py-1 m-0" onclick="window.location = '/item/{{item.id}}'">{{ item.title }}</h5>

            <span class="card-seller">
              By {{ item.seller.username }}
            </span>

            {% if not item.discount_price %}

            <h3 class="card-text px-0 py-1 text-primary-darker">
              ${{item.price}}
            </h3>


            {% else %}

            <div class="d-flex">

              <h3 class="card-text px-0 py-1 mb-0 text-primary-darker pr-2">
                ${{item.discount_price}}
              </h3>


              <p class="text-muted m-0 d-flex align-items-center"
                style="text-decoration: line-through; font-size: 10pt;">${{item.price}}</p>
            </div>

            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card border flex-row" style="width: min-content;">
        {% if items.has_previous %}
        <a class="btn btn-secondary d-flex align-items-center" href="?page={{ items.previous_page_number }}"><i
                class="fa-solid fa-chevron-left"></i><i class="fa-solid fa-chevron-left"></i></a>
        {% endif %}

        <span class="current-page p-2">{{ items.number }}</span>

        {% if items.has_next %}
        <a class="btn btn-primary border-0 d-flex align-items-center" href="?page={{ items.next_page_number }}"><i
                class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i></a>
        {% endif %}
    </div>
</div>

</div>

{% endblock %}