<div class="container m-auto" style="max-width: 600px;">
    <img src='https://multiverzum.com/static/main/img/icons/logo-icon.png'
        style="margin: auto; display: block; max-width: 100px; width: 100%"></img>
    <br><br>
    <p> 
        <h1>Hello {{name}},<br></h1>

        You registered an account on multiverzum.com, before being able to use your account you need to verify
        that this is your email address by clicking here: <a href="multiverzum.com">Verify email</a> <br><br>
        Kind Regards,
        <br>
        Multiverzum.com
    </p>
</div>